@model IEnumerable<BeyazEsya.Models.ProductImages>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
                <img src="@item.ImageUrl" width="100px" height="100px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImagesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImagesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImagesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
